*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , 'sans-serif';
}

body {
    color: #ededed;
    background: url(img/black.jpg);

}

.header {
    position: fixed;
    top: 0 ;
    left: 0;
    width: 100% ;
    padding: 20px 10% ;
    background: #1a0033;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo {
    position: relative ;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0%;
    }

    100% {
        transform: translateX(0px);
        opacity: 100%;
    }
}

.navigation a {
 display: inline-block;
 font-size: 25px;
 color: #fff;
 text-decoration: none;
 font-weight: 500;
 margin-left: 35px;
 transition: 0.3s;
 opacity: 0;
 animation: slideTop 0.5s ease forwards;
 animation-delay: calc(0.2s * var(--i));
}


@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0%;
    }

    100% {
        transform: translateY(0px);
        opacity: 100%;
    }
}

.navigation a:hover {
    color: #9461fd;
}


.home {
   position: relative; 
   width: 100%;
   justify-content: space-between;
   height: 100vh;
   background-position: center;
   display: flex;
   align-items: center;
   padding: 70px 10% 0;

}

.home-content {
    max-width: 600px;

}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 100;
    animation: slideBottom 1s ease forwards;
    animation-delay: 0.7s;

}


@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0%;
    }

    100% {
        transform: translateY(0px);
        opacity: 100%;
    }
}

.navigation a:hover {
    color: #9461fd;
}

.home-content h1 
{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 100;
    animation: slideRight 1s ease forwards;
    animation-delay: 0.1s;

}

.home-content p{
    font-size: 20px;
    opacity: 100;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}


@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0%;
    }

    100% {
        transform: translateX(0px);
        opacity: 100%;
    }
}

.home-section a{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #9461fd;
    border-radius: 50%;
    font-size: 20px;
    color: #9461fd;
    text-decoration: none;
    margin: 30px 10px 30px 0;
    transition: 0.5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.home-section a:hover {
    background: #9461fd;
    color: #27063E;
    box-shadow: 0 0 20px #9461fd;
}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #9461fd;
    border-radius: 40px;
    font-size: 16px;
    color:#27063E;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 0 5px  #9461fd;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}
.btn-box:hover {
box-shadow: 0 0 5px #9461fd,
0 0 25px #9461fd, 0 0 50px #9461fd,
0 0 100px #9461fd, 0 0 200px #9461fd
}




.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    
}

.about-img img{
    padding-bottom: 20%;
    max-width: 630px;
    height: auto;
    width: 400px;
    border-radius: 100%;
    margin-top: 60px;
}
.about-text h2 {
    font-size: 60px;
}

.about-text h2 span {
    color: #9461fd;
}

.about-text h4 {
    font-size: 29px;
    font-size: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
}

.about-text p{
    color:aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;

}

.container {
    padding: 90px;
}



#services {
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

.sub-title {
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
}

.sub-title span{
    color: #9461fd;
}

.service-list {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(259px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;

}

.service-list div{
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition:background 0.5s, transform 0.5s ;
    box-shadow: 1px 1px 20px #27063E,
                1px 1px 40px #3d0066
}

.service-list div i{
 font-size: 50px;
 margin-bottom: 30px;
}


.service-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.service-list div a{
    text-decoration: none;
    color:#3d0066;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.read {
    display: inline-block;
    padding: 12px 28px;
    background: #9461fd;
    border-radius: 40px;
    font-size: 16px;
    color: #27063E;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 600;
    opacity:0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #9461fd,
0 0 25px #9461fd, 0 0 50px #9461fd

}

.read:hover{
    background: #9461fd;
    color: #27063E;
    box-shadow: 0 0 20px #9461fd;
}
.service-list div:hover{
    transform: translateY(-10px);
}


.portfolio {
    padding: 50px 0;

}

/*---------------------My Projects----------------------------------------------*/
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(259px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;

}



.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6), #732673);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    text-decoration: none;
    font-size: 18px;
    color:#9461fd;
    line-height: 60px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    background: #1a0033;
}

.work:hover img{
  transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.see-more {
    display:block;
    margin: 50px auto;
    width: fit-content;
    
    /*padding: 14px 15px;*/
    border-radius: 6px;
    /*display: inline-block;*/
    padding: 12px 28px;
    background: #9461fd;
    border-radius: 40px;
    font-size: 16px;
    color:#27063E;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 0 5px  #9461fd;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}
.see-more:hover {
box-shadow: 0 0 5px #9461fd,
0 0 25px #9461fd, 0 0 50px #9461fd,
0 0 100px #9461fd, 0 0 200px #9461fd
}

/*Contact form*/
.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color: #732673;
    margin-right: 15px;
    font-size: 25px;
}


.contact-right form{
   width: 100%;
} 

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #27063E;
    padding: 15px;
    margin: 15px 0;
    color: antiquewhite;
    font-size: 18px;
    border-radius: 6px;
}


/* SECCION S K I L L S */
.skills{
    
    color: #fff;
    padding: 50px 20px;
}
.skills .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.skills h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}
.skills .fila{
    display: flex;
}
.skills .fila .col{
    width: 50%;
    padding: 0 20px;
}
.skills .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.skills .skill > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
.skills .skill .barra-skill{
    height: 8px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
}
.skills .skill .progreso{
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}
.skills .skill .barra-skill span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #732673;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}
/* Estas clases se agregaran dinamicamente mediante javascript */
.skills .skill .javascript{
    width: 0%;
    animation: 2s javascript forwards;
}
@keyframes javascript {
    0%{width: 0%;}
    100%{width: 75%;}
}

.skills .skill .htmlcss{
    width: 0%;
    animation: 2s htmlcss forwards;
}
@keyframes htmlcss {
    0%{width: 0%;}
    100%{width: 89%;}
}

.skills .skill .photoshop{
    width: 0%;
    animation: 2s photoshop forwards;
}
@keyframes photoshop {
    0%{width: 0%;}
    100%{width: 95%;}
}

.skills .skill .wordpress{
    width: 0%;
    animation: 2s wordpress forwards;
}
@keyframes wordpress {
    0%{width: 0%;}
    100%{width: 81%;}
}

.skills .skill .drupal{
    width: 0%;
    animation: 2s drupal forwards;
}
@keyframes drupal {
    0%{width: 0%;}
    100%{width: 55%;}
}

.skills .skill .comunicacion{
    width: 0%;
    animation: 2s comunicacion forwards;
}
@keyframes comunicacion {
    0%{width: 0%;}
    100%{width: 80%;}
}

.skills .skill .trabajo{
    width: 0%;
    animation: 2s trabajo forwards;
}
@keyframes trabajo {
    0%{width: 0%;}
    100%{width: 70%;}
}

.skills .skill .creatividad{
    width: 0%;
    animation: 2s creatividad forwards;
}
@keyframes creatividad {
    0%{width: 0%;}
    100%{width: 99%;}
}

.skills .skill .dedicacion{
    width: 0%;
    animation: 2s dedicacion forwards;
}
@keyframes dedicacion {
    0%{width: 0%;}
    100%{width: 65%;}
}

.skills .skill .proyect{
    width: 0%;
    animation: 2s proyect forwards;
}
@keyframes proyect {
    0%{width: 0%;}
    100%{width: 94%;}
}

/* links */
.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    
  }
  
  .link-primary {
    background-color: #3d0066;
    padding: 0.5rem;
    color: white;
    border-radius: 0.5rem;
    font-weight: bold;
    margin-right: 0.5rem;
  }
  
  .link-secondary {
    padding: 0.5rem;
    color: #732673;
    border-radius: 0.5rem;
    font-weight: bold;
    border: 2px solid #131517;
    margin-bottom: 2px;
  }

  .project-text {
    padding: 0rem 0rem 1rem 0rem;
    margin: 1.5rem 0rem;
  }
  

@media only screen and (max-width: 600px){

}